@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
:root{
    --navcolor:rgb(31, 31, 31);
    --itemcolor:white;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: var(--navcolor);
    padding: 10px;
    min-height: auto;
    overflow-x: auto;
    position: sticky;
    top: 0px;
}
.list{
    display: flex;
    list-style: none;
}

.items{
    margin-left: 8vw;
    color: var(--itemcolor);
    font-size: 4vw;
    text-shadow: 1px 1px 5px rgb(0, 0, 0),0 0 1em rgb(255, 255, 255);
    /* animation: myanim; */

    /* @keyframes myanim{
        50%
    } */

}

.nav .list li:hover{
    cursor: pointer;
   
}

.nav .list li:first-child div{
    background-color: var(--itemcolor);
    padding: 1.5px 10px;
    margin: 3px;
}

.nav .list li:nth-last-child(1)
{
     margin-left: 30vw;
}
#search{
   
    height: 4vh;
    min-width: 15vw;
    border: none;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px  4px 10px rgb(20, 20, 20);
}

#search:hover{
    outline:2px solid rgb(0, 0, 0);
    background-color: rgb(244, 240, 240);
}

.box{
    align-items: center;
    display: flex;
    background-color: beige;
    min-height: 90vh;
    width: 100vw;
}

.boxes{
    background-color: rgb(245, 213, 178);
    min-height: 70vh;
    width: 45vw;
    margin: 40px;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    font-family: 'Baloo Bhai 2', sans-serif;
    box-shadow: 0px 10px 15px rgb(56, 55, 55);
}

.wlc{
    margin: 5px;
    padding: 2% 9%;
    background-color: rgb(152, 223, 223);
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
}

.logo{
    position: fixed;
    top:85vh;
    left: 92vw;
    background-color: white;
    border-radius: 60px;
    box-shadow: 0px 5px 15px black;
}

.logo img{
    border-radius: 60px;
}

.footer{
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.footer p{
    font-size: 12px;
}

/* .sidebar{
    height:100vh;
    width: 10vw;;
    background-color: black;
    position: sticky;
    margin-left: 90vw;;
    top:0;
} */